site_name: "Documentación del Server"
site_url: "http://192.168.68.19/docs"
repo_url: "https://github.com/agustineavila/server-docs.git"
repo_name: "server-docs"
strict: true
theme:
  name: material
  language: es
  logo: assets/images/logo.png
  favicon: assets/images/logo.png
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - toc.integrate
    - search.highlight
    - search.share
  palette:
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/weather-night
        name: Cambiar a modo oscuro
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Cambiar a modo claro

nav:
  - Inicio: index.md
  - Guías:
      - Workflow de sitios web: guides/workflow.md
      - Uso de entornos virtuales: guides/virtualenv.md
  - Seguridad:
      - Puertos importantes: security/ports.md
      - Firewall UFW: security/ufw.md
  - Server:
      - Configuración de NGINX: server/nginx.md
      - Configuración de Docker: server/docker.md

markdown_extensions:
  - admonition
  - footnotes
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
