site_name: "Documentación del Server"
site_url: "http://192.168.68.19/docs"
repo_url: "https://github.com/TU_USUARIO/server-docs"
repo_name: "server-docs"

theme:
  name: material
  language: es
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - toc.integrate
    - search.highlight
    - search.share
  palette:
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/weather-night
        name: Cambiar a modo oscuro
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Cambiar a modo claro

nav:
  - Inicio: index.md
  - Guías:
      - NGINX: guides/nginx.md
      - Servicios: guides/servicios.md
  - Seguridad:
      - Firewall: security/firewall.md
  - Server:
      - Estructura: server/estructura.md
